<footer class="w-full mt-auto p-2">
  <div
    class="max-w-7xl mx-auto mt-6 border-t border-gray-200 py-4 px-4 md:py-5 flex items-center justify-center"
  >
    <div class="flex space-x-6 md:order-2">
      <a href="https://github.com/Guyliane/Guyliane" aria-label="Link to Github" target="_blank" class="text-gray-400 hover:text-gray-600 w-9">
        <i data-feather="github"></i>
      </a>
      <a href="https://www.linkedin.com/in/guyliane-de-jesus-pimenta-7a85b210a/" aria-label="Link to linkedin" target="_blank" class="text-gray-400 hover:text-gray-600 w-9">
        <i data-feather="linkedin"></i>
      </a>
    </div>
  </div>
  <div class="flex justify-center items-center space-x-2">
    <p class="font-extrabold">
      © 2022 The Frog Blog, Inc. All rights reserved.
    </p>
    <img src="/FrogLogo.svg" alt="The Frog Logo logo" class="w-10 h-10" />
  </div>
</footer>
