<footer class="max-w-7xl p-2 mt-24 border-t border-gray-200 mx-auto">
  <div class="text-center">
    <h3 class="font-extrabold text-black text-xl tracking-tighter mt-3">
      Subscribe to our newsletter 📬
    </h3>
  </div>
  <div class="flex flex-row justify-center max-w-xl mt-4 mx-auto">
    <form
      action="https://app.us11.list-manage.com/subscribe/post?u=a43196d86d7fa5b51040c9886&amp;id=19e7fe99e7"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_blank"
      novalidate
      class="flex flex-row justify-center max-w-xl mt-4 mx-auto validate"
    >
      <label for="mce-EMAIL" class="sr-only"> Email address </label>
      <input
        type="email"
        value=""
        name="EMAIL"
        id="mce-EMAIL"
        placeholder="Enter your email"
        class="appearance-none w-full bg-white border border-gray-300 shadow-sm py-2 px-4 text-base text-black placeholder-gray-500 focus:outline-none focus:ring-red-600 focus:border-red-600 focus:placeholder-gray-400 required email"
      />

      <button
        type="submit"
        value="Subscribe"
        name="subscribe"
        id="mc-embedded-subscribe"
        class="relative inline-block px-4 py-2 font-medium group"
      >
        <span
          class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
        ></span>
        <span
          class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
        ></span>
        <span class="relative text-black group-hover:text-white"
          >Subscribe</span
        >
      </button>
    </form>
  </div>

  <!--End mc_embed_signup-->

  <div
    class="max-w-7xl mx-auto mt-6py-4 px-4 md:py-5 flex items-center justify-center mt-4"
  >
    <div class="flex space-x-6 md:order-2">
      <a
        href="https://github.com/Guyliane/Guyliane"
        aria-label="Link to Github"
        target="_blank"
        class="text-gray-400 hover:text-gray-600 w-9"
      >
        <i data-feather="github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/guyliane-de-jesus-pimenta-7a85b210a/"
        aria-label="Link to linkedin"
        target="_blank"
        class="text-gray-400 hover:text-gray-600 w-9"
      >
        <i data-feather="linkedin"></i>
      </a>
      <a
        href="https://ko-fi.com/thefrogblog"
        aria-label="Link to ko-fi"
        target="_blank"
        class="text-gray-400 hover:text-gray-600 w-9"
      >
        <i data-feather="coffee"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center space-x-2 sm:flex-row">
    <p class="text-xs font-semibold sm:font-extrabold sm:text-base">
      © 2022 The Frog Blog, Inc. All rights reserved.
    </p>
    <img src="/FrogLogo.svg" alt="The Frog Logo logo" class="w-10 h-10" />
  </div>
  {{ partial "ko-fi" . }}
</footer>
